<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <nav>
      <ul>
        <li><a href="{{ url_for('main') }}">Home</a></li>
        <li><a href="{{ url_for('touristsite') }}">Tourist Attraction<br>Recommendations</a></li>
        <li><a href="{{ url_for('hotel') }}">Hotel<br>Recommendations</a></li>
        <li><a href="{{ url_for('restaurant') }}">Restaurant<br>Recommendations</a></li>
        <li><a href="{{ url_for('route') }}">Plan Your Trip!</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
    </ul>
  </nav>
  <h1>LA Travel Planner</h1>
  <h4>Designed by PIC16B 'The Traveler'</h4>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
  </section>