{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Contact Us{% endblock %}</h2>
{% endblock %}

{% block content %}
  <p>This is a course project for PIC16B at UCLA by Ashley Lu, Jiaoying Ren, and Jingxuan Zhang. Please feel free to contact us for any suggestions!</p>
  <!-- google form -->
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdc6EiqU8315ddSOgrSMPaaxPRmRPiTbfEOt8KyiKifJeWQsw/viewform?embedded=true" width="640" height="673" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
{% endblock %}