{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}------Recommended Hotels------{% endblock %}</h2>
{% endblock %}

{% block content %}
  <p>Here is a list of the <b>recommended hotels</b> on TripAdvisor.</p>
  <table class="table">
    <tr class="hoteltable__header">
      {% for header in headings %}
      <th class="hoteltable__cell">
        {{header}}
      </th>
      {% endfor %}
    </tr>
    {% for row in data %}
    <tr class="hoteltable__row">
      {% for cell in row %}
      <td class="hoteltable__cell">
        {{cell}}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}


