{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Check out your favorite hotels!{% endblock %}</h2>
{% endblock %}

{% block content %}
  
  <form method="post">
    <h3 for="name">What kind of the hotels you want to go? <br>Or what's the minimum rating for the hotels you want want to go?</h3>
    <div class="wrap">
      <div class="search">
        <input name="name" placeholder = "for example: Hilton" id="site">
        <input type="submit" value="search" class="searchButton">
        </div></div>
  </form>
  <h3>Here is a list of the <b>recommended hotels</b> on TripAdvisor.</h3>
  {% if name %}
  <p>After filtering based on your keyword...</p>
  <ul>
    <li><a class="filter" href="http://127.0.0.1:5000/hotel/{{name}}/">Click here to see all the possible hotels</a></li>
  </ul>
  <ul>
    <li><a class="newkeyword" href="http://127.0.0.1:5000/hotel/">Try a new keyword</a></li>
  </ul>
  <table class="table">
    <tr class="hoteltable__header">
      {% for header in headings_update %}
      <th class="hoteltable__cell">
        {{header}}
      </th>
      {% endfor %}
    </tr>
    {% for row in data_update %}
    <tr class="hoteltable__row">
      {% for cell in row %}
      <!-- the 4th column is site link so make it hyperlink -->
        {% if loop.index == 4 %}
          <td class="hoteltable__cell"><a href={{cell}} target="_blank">{{cell}}</a></td>
        {% else %}
          <td class="hoteltable__cell">{{cell}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <table class="table">
    <tr class="hoteltable__header">
      {% for header in headings %}
      <th class="hoteltable__cell">
        {{header}}
      </th>
      {% endfor %}
    </tr>
    {% for row in data %}
    <tr class="hoteltable__row">
      {% for cell in row %}
      <!-- the 4th column is site link so make it hyperlink -->
        {% if loop.index == 4 %}
          <td class="hoteltable__cell"><a href={{cell}} target="_blank">{{cell}}</a></td>
        {% else %}
          <td class="hoteltable__cell">{{cell}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
{% endblock %}