{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}------Recommended Hotels------{% endblock %}</h2>
{% endblock %}

{% block content %}
  <p>Here is a list of the <b>recommended hotels</b> on TripAdvisor.</p>
  <form method="post">
    <label for="name">What kind of the hotels you want to go? (Please capitalize the first letter of the keyword.) </label>
    <br>
    <input name="name" id="site">
    <input type="submit" placeholder = "try Hilton" value="search">
  </form>
  {% if name %}
  <p>After filtering based on your keyword...</p>
  <ul>
    <li><a class="filter" href="http://127.0.0.1:5000/hotel/{{name}}/">Click here to see all the possible hotels</a></li>
  </ul>
  <ul>
    <li><a class="newkeyword" href="http://127.0.0.1:5000/hotel/">Try a new keyword</a></li>
  </ul>
  <table class="table">
    <tr class="hoteltable__header">
      {% for header in headings_update %}
      <th class="hoteltable__cell">
        {{header}}
      </th>
      {% endfor %}
    </tr>
    {% for row in data_update %}
    <tr class="hoteltable__row">
      {% for cell in row %}
      <td class="hoteltable__cell">
        {{cell}}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <table class="table">
    <tr class="hoteltable__header">
      {% for header in headings %}
      <th class="hoteltable__cell">
        {{header}}
      </th>
      {% endfor %}
    </tr>
    {% for row in data %}
    <tr class="hoteltable__row">
      {% for cell in row %}
      <td class="hoteltable__cell">
        {{cell}}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
{% endblock %}