{% extends 'base.html' %}

{% block header %}
  <h4>Designed by PIC16B 'The Traveler'</h4>
  <!-- insert logo -->
  <image src="{{url_for('static', filename='css/Logo.jpg')}}" class = "logo"></image>
  <h2>{% block title %}<b>Plan your trip to LA with just a few clicks</b>{% endblock %}</h2>
{% endblock %}

{% block content %}
  <h6>How many times were you frustrated while
    planning a trip for your vacation? </h6>
  <h6>We are here to provide a much simpler solution.</h6>

  <br>
  <p>You will get a <b>detailed and personalized</b> traveling plan from our route generator under <b><a href="{{ url_for('route') }}">Plan Your Trip!</a></b> page by simply entering:</p>
  <ul>
      <li>Attraction(s)</li>
      <li>Hotel</li>
      <li>Vacation Length</li>
      <li>Transportation</li>
  </ul>
  <p>If you are not sure where you want to visit, that's completely fine! Explore our <b><a href="{{ url_for('touristsite') }}">Tourist Attraction Recommendations</a></b> page to learn more about LA!</p>

  <p>You can also explore the hotels on <b><a href="{{ url_for('hotel') }}">Hotel Recommendations</a></b> page.</p>

  <p>LA is the heaven for foodies! Definitely take a look at the <b><a href="{{ url_for('restaurant') }}">Restaurant Recommendations</a></b> page. You won't regret it!</p>

  <h5>Disclaimer: Our database is originated from <a href=https://www.tripadvisor.com target="_blank">TripAdvisor</a>.</h5>
  
{% endblock %}