<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0ce2c5019f69481bb19212a3735ceea2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0ce2c5019f69481bb19212a3735ceea2" ></div>
        
</body>
<script>    
    
            var map_0ce2c5019f69481bb19212a3735ceea2 = L.map(
                "map_0ce2c5019f69481bb19212a3735ceea2",
                {
                    center: [34.0829485, -118.32521399999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                    tooltip: "Hover",
                }
            );

            

        
    
            var tile_layer_d67e9e4351cd4242bf31a3332ba9a236 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0ce2c5019f69481bb19212a3735ceea2);
        
    
            var poly_line_b6dd57cc12744ca5becaa482c81cef08 = L.polyline(
                [[34.09345, -118.29121], [34.09345, -118.29176], [34.07634, -118.2917], [34.07623, -118.32645], [34.07571, -118.3285], [34.0761, -118.33109], [34.0762, -118.33472], [34.07612, -118.36145], [34.07153, -118.36142], [34.07128, -118.35947], [34.07245, -118.35922]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 8}
            ).addTo(map_0ce2c5019f69481bb19212a3735ceea2);
        
    
            var marker_3c2df9108cb14117966770ee66c5085c = L.marker(
                [34.09345, -118.291208],
                {}
            ).addTo(map_0ce2c5019f69481bb19212a3735ceea2);
        
    
            var icon_22dee8f1a5834588a9a438dd216c9571 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3c2df9108cb14117966770ee66c5085c.setIcon(icon_22dee8f1a5834588a9a438dd216c9571);
        
    
        var popup_e207fea60a4843ec88aa6f1fa0795913 = L.popup({"maxWidth": "100%"});

        
            var html_2663f1e0b200472c92dcd66f81f6747b = $(`<div id="html_2663f1e0b200472c92dcd66f81f6747b" style="width: 100.0%; height: 100.0%;">Hollywood Hotel, 1160, North Vermont Avenue, East Hollywood, Los Angeles, California, 90029, United States</div>`)[0];
            popup_e207fea60a4843ec88aa6f1fa0795913.setContent(html_2663f1e0b200472c92dcd66f81f6747b);
        

        marker_3c2df9108cb14117966770ee66c5085c.bindPopup(popup_e207fea60a4843ec88aa6f1fa0795913)
        ;

        
    
    
            var marker_cd40e8f61f884337a1be714d772fd7b5 = L.marker(
                [34.072447, -118.35922],
                {}
            ).addTo(map_0ce2c5019f69481bb19212a3735ceea2);
        
    
            var icon_09152938ef4d4104ac6b0cf88fb7fcdc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cd40e8f61f884337a1be714d772fd7b5.setIcon(icon_09152938ef4d4104ac6b0cf88fb7fcdc);
        
    
        var popup_462aae5bdd2a4f518082e895bae93892 = L.popup({"maxWidth": "100%"});

        
            var html_0aea6920d5fb458b88ddf43b0e854d0a = $(`<div id="html_0aea6920d5fb458b88ddf43b0e854d0a" style="width: 100.0%; height: 100.0%;">American Girl Place, 189, The Grove Drive, The Grove, Fairfax, Los Angeles, California, 90036, United States</div>`)[0];
            popup_462aae5bdd2a4f518082e895bae93892.setContent(html_0aea6920d5fb458b88ddf43b0e854d0a);
        

        marker_cd40e8f61f884337a1be714d772fd7b5.bindPopup(popup_462aae5bdd2a4f518082e895bae93892)
        ;

        
    
</script>