<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ddc82c6102204bac9c1815dce9d71789 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ddc82c6102204bac9c1815dce9d71789" ></div>
        
</body>
<script>    
    
            var map_ddc82c6102204bac9c1815dce9d71789 = L.map(
                "map_ddc82c6102204bac9c1815dce9d71789",
                {
                    center: [34.0740835, -118.2707555],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                    tooltip: "Hover",
                }
            );

            

        
    
            var tile_layer_fd31ec473a1e469e9c06ba8928991a19 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ddc82c6102204bac9c1815dce9d71789);
        
    
            var poly_line_c4a5f0c004254dedb65c204025967496 = L.polyline(
                [[34.09345, -118.29121], [34.09345, -118.29176], [34.07634, -118.2917], [34.07628, -118.28778], [34.07402, -118.28632], [34.07279, -118.28439], [34.06105, -118.25782], [34.06047, -118.25823], [34.05888, -118.25668], [34.05472, -118.2503]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 8}
            ).addTo(map_ddc82c6102204bac9c1815dce9d71789);
        
    
            var marker_8b875fe13583407e8a43f3cd9bffb9df = L.marker(
                [34.09345, -118.291208],
                {}
            ).addTo(map_ddc82c6102204bac9c1815dce9d71789);
        
    
            var icon_f886f50137e8428f833639a31452a151 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8b875fe13583407e8a43f3cd9bffb9df.setIcon(icon_f886f50137e8428f833639a31452a151);
        
    
        var popup_a5f961a6f1af481bad7333149ca33eee = L.popup({"maxWidth": "100%"});

        
            var html_93f46a30948e4c67bc04a06ecfc6f5d2 = $(`<div id="html_93f46a30948e4c67bc04a06ecfc6f5d2" style="width: 100.0%; height: 100.0%;">Hollywood Hotel, 1160, North Vermont Avenue, East Hollywood, Los Angeles, California, 90029, United States</div>`)[0];
            popup_a5f961a6f1af481bad7333149ca33eee.setContent(html_93f46a30948e4c67bc04a06ecfc6f5d2);
        

        marker_8b875fe13583407e8a43f3cd9bffb9df.bindPopup(popup_a5f961a6f1af481bad7333149ca33eee)
        ;

        
    
    
            var marker_1ded2ccf5b3c418b81074256cea86b4a = L.marker(
                [34.054717, -118.250303],
                {}
            ).addTo(map_ddc82c6102204bac9c1815dce9d71789);
        
    
            var icon_3a91342332964202b3724c3ffc1ce828 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1ded2ccf5b3c418b81074256cea86b4a.setIcon(icon_3a91342332964202b3724c3ffc1ce828);
        
    
        var popup_7067adbb97a4474cbbf4857f00e86ae1 = L.popup({"maxWidth": "100%"});

        
            var html_ce580bcccb1c47cf857c904c73ac6c3e = $(`<div id="html_ce580bcccb1c47cf857c904c73ac6c3e" style="width: 100.0%; height: 100.0%;">The Broad Museum, 221, South Grand Avenue, Bunker Hill, Downtown, Los Angeles, California, 90012, United States</div>`)[0];
            popup_7067adbb97a4474cbbf4857f00e86ae1.setContent(html_ce580bcccb1c47cf857c904c73ac6c3e);
        

        marker_1ded2ccf5b3c418b81074256cea86b4a.bindPopup(popup_7067adbb97a4474cbbf4857f00e86ae1)
        ;

        
    
</script>