<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_39c1f7d83cd244059810c231f474bd0b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_39c1f7d83cd244059810c231f474bd0b" ></div>
        
</body>
<script>    
    
            var map_39c1f7d83cd244059810c231f474bd0b = L.map(
                "map_39c1f7d83cd244059810c231f474bd0b",
                {
                    center: [33.987496, -118.28689299999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                    tooltip: "Hover",
                }
            );

            

        
    
            var tile_layer_632b1ae93ad04edfbbc500e8bc9645ed = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_39c1f7d83cd244059810c231f474bd0b);
        
    
            var poly_line_54ddb4ba52d04da2a5984bc62376648c = L.polyline(
                [[34.09345, -118.29121], [34.04002, -118.29159], [34.04002, -118.28457], [34.03581, -118.27471], [34.02749, -118.27469], [34.01465, -118.28124], [33.93627, -118.28028], [33.92264, -118.2817], [33.91332, -118.28679], [33.89825, -118.28683], [33.89265, -118.28609], [33.89272, -118.28303], [33.88154, -118.28258]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 8}
            ).addTo(map_39c1f7d83cd244059810c231f474bd0b);
        
    
            var marker_09c1bccf994e498a83f419a292aade58 = L.marker(
                [34.09345, -118.291208],
                {}
            ).addTo(map_39c1f7d83cd244059810c231f474bd0b);
        
    
            var icon_64eee719dbae4622a78cacd561f94c92 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_09c1bccf994e498a83f419a292aade58.setIcon(icon_64eee719dbae4622a78cacd561f94c92);
        
    
        var popup_394250c71bd14d99be68271d5f0d169c = L.popup({"maxWidth": "100%"});

        
            var html_891a6c24fbe541a29cdc857ab9ac98e2 = $(`<div id="html_891a6c24fbe541a29cdc857ab9ac98e2" style="width: 100.0%; height: 100.0%;">Hollywood Hotel, 1160, North Vermont Avenue, East Hollywood, Los Angeles, California, 90029, United States</div>`)[0];
            popup_394250c71bd14d99be68271d5f0d169c.setContent(html_891a6c24fbe541a29cdc857ab9ac98e2);
        

        marker_09c1bccf994e498a83f419a292aade58.bindPopup(popup_394250c71bd14d99be68271d5f0d169c)
        ;

        
    
    
            var marker_1cf2075b504a4dbe9363779b08471558 = L.marker(
                [33.881542, -118.282578],
                {}
            ).addTo(map_39c1f7d83cd244059810c231f474bd0b);
        
    
            var icon_cf73cf76019449278cf786bb486250b1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1cf2075b504a4dbe9363779b08471558.setIcon(icon_cf73cf76019449278cf786bb486250b1);
        
    
        var popup_8787bcce9b264900b72752431eeb0b5b = L.popup({"maxWidth": "100%"});

        
            var html_9d25612022514c18872809039dad00b3 = $(`<div id="html_9d25612022514c18872809039dad00b3" style="width: 100.0%; height: 100.0%;">South Figueroa Street, Harbor Gateway, Los Angeles, Los Angeles County, California, 90248, United States</div>`)[0];
            popup_8787bcce9b264900b72752431eeb0b5b.setContent(html_9d25612022514c18872809039dad00b3);
        

        marker_1cf2075b504a4dbe9363779b08471558.bindPopup(popup_8787bcce9b264900b72752431eeb0b5b)
        ;

        
    
</script>