<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0bf99d0bb3394f29b8f940e28a0790df {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0bf99d0bb3394f29b8f940e28a0790df" ></div>
        
</body>
<script>    
    
            var map_0bf99d0bb3394f29b8f940e28a0790df = L.map(
                "map_0bf99d0bb3394f29b8f940e28a0790df",
                {
                    center: [33.987496, -118.28689299999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                    tooltip: "Hover",
                }
            );

            

        
    
            var tile_layer_3b226d8c0ddf4895b1daecebe8b31911 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0bf99d0bb3394f29b8f940e28a0790df);
        
    
            var poly_line_674e70b6643e4a218ce02b07e7be6b87 = L.polyline(
                [[34.09345, -118.29121], [34.04002, -118.29159], [34.04002, -118.28457], [34.03581, -118.27471], [34.02749, -118.27469], [34.01465, -118.28124], [33.93627, -118.28028], [33.92264, -118.2817], [33.91332, -118.28679], [33.89825, -118.28683], [33.89265, -118.28609], [33.89272, -118.28303], [33.88154, -118.28258]],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 8}
            ).addTo(map_0bf99d0bb3394f29b8f940e28a0790df);
        
    
            var marker_fe637100b9724b42bf34feb943ff5cd1 = L.marker(
                [34.09345, -118.291208],
                {}
            ).addTo(map_0bf99d0bb3394f29b8f940e28a0790df);
        
    
            var icon_0836a466e3d44b249d41603c39bc8db9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_fe637100b9724b42bf34feb943ff5cd1.setIcon(icon_0836a466e3d44b249d41603c39bc8db9);
        
    
        var popup_2286643dc3ef49f887f9e95254e11635 = L.popup({"maxWidth": "100%"});

        
            var html_f571b6186d244e16aeebaa3b19a930aa = $(`<div id="html_f571b6186d244e16aeebaa3b19a930aa" style="width: 100.0%; height: 100.0%;">Hollywood Hotel, 1160, North Vermont Avenue, East Hollywood, Los Angeles, California, 90029, United States</div>`)[0];
            popup_2286643dc3ef49f887f9e95254e11635.setContent(html_f571b6186d244e16aeebaa3b19a930aa);
        

        marker_fe637100b9724b42bf34feb943ff5cd1.bindPopup(popup_2286643dc3ef49f887f9e95254e11635)
        ;

        
    
    
            var marker_92b0ea53d0f446d887e1e5c6560ed320 = L.marker(
                [33.881542, -118.282578],
                {}
            ).addTo(map_0bf99d0bb3394f29b8f940e28a0790df);
        
    
            var icon_2d7b6aea8a444cd19e0c784c3e27e0b3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_92b0ea53d0f446d887e1e5c6560ed320.setIcon(icon_2d7b6aea8a444cd19e0c784c3e27e0b3);
        
    
        var popup_f1b37c38352549199192ec120037d387 = L.popup({"maxWidth": "100%"});

        
            var html_1dd8031d6c334fd6ad8eac821ce5e5db = $(`<div id="html_1dd8031d6c334fd6ad8eac821ce5e5db" style="width: 100.0%; height: 100.0%;">South Figueroa Street, Harbor Gateway, Los Angeles, Los Angeles County, California, 90248, United States</div>`)[0];
            popup_f1b37c38352549199192ec120037d387.setContent(html_1dd8031d6c334fd6ad8eac821ce5e5db);
        

        marker_92b0ea53d0f446d887e1e5c6560ed320.bindPopup(popup_f1b37c38352549199192ec120037d387)
        ;

        
    
</script>