<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_360a75f7ea9f464bbbcda20a0c68893c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_360a75f7ea9f464bbbcda20a0c68893c" ></div>
        
</body>
<script>    
    
            var map_360a75f7ea9f464bbbcda20a0c68893c = L.map(
                "map_360a75f7ea9f464bbbcda20a0c68893c",
                {
                    center: [34.0740835, -118.2707555],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                    tooltip: "Hover",
                }
            );

            

        
    
            var tile_layer_89b549e80f624e8f848ad95c95c78b5c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_360a75f7ea9f464bbbcda20a0c68893c);
        
    
            var poly_line_a2dedfb17aee46088a6a6128692e67dd = L.polyline(
                [[34.09345, -118.29121], [34.09345, -118.29176], [34.07634, -118.2917], [34.07628, -118.28778], [34.07402, -118.28632], [34.07279, -118.28439], [34.06105, -118.25782], [34.06047, -118.25823], [34.05888, -118.25668], [34.05472, -118.2503]],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 8}
            ).addTo(map_360a75f7ea9f464bbbcda20a0c68893c);
        
    
            var marker_5920a13fbd1740e984249547cc936046 = L.marker(
                [34.09345, -118.291208],
                {}
            ).addTo(map_360a75f7ea9f464bbbcda20a0c68893c);
        
    
            var icon_da8e017a9c434aba9cb6c07bfa4722d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_5920a13fbd1740e984249547cc936046.setIcon(icon_da8e017a9c434aba9cb6c07bfa4722d8);
        
    
        var popup_d67f764d3e3b457a973e071f3dcf2156 = L.popup({"maxWidth": "100%"});

        
            var html_da98f35cd0424d50866c9baae909696e = $(`<div id="html_da98f35cd0424d50866c9baae909696e" style="width: 100.0%; height: 100.0%;">Hollywood Hotel, 1160, North Vermont Avenue, East Hollywood, Los Angeles, California, 90029, United States</div>`)[0];
            popup_d67f764d3e3b457a973e071f3dcf2156.setContent(html_da98f35cd0424d50866c9baae909696e);
        

        marker_5920a13fbd1740e984249547cc936046.bindPopup(popup_d67f764d3e3b457a973e071f3dcf2156)
        ;

        
    
    
            var marker_def373efa6894469b56e1a3690f1f38a = L.marker(
                [34.054717, -118.250303],
                {}
            ).addTo(map_360a75f7ea9f464bbbcda20a0c68893c);
        
    
            var icon_bf312bfcf8c142a7b7fc364b3af4219a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_def373efa6894469b56e1a3690f1f38a.setIcon(icon_bf312bfcf8c142a7b7fc364b3af4219a);
        
    
        var popup_baa1bf729087499e92ff913cc3aafc9b = L.popup({"maxWidth": "100%"});

        
            var html_893891a9b248485ba8cb045dda13be35 = $(`<div id="html_893891a9b248485ba8cb045dda13be35" style="width: 100.0%; height: 100.0%;">The Broad Museum, 221, South Grand Avenue, Bunker Hill, Downtown, Los Angeles, California, 90012, United States</div>`)[0];
            popup_baa1bf729087499e92ff913cc3aafc9b.setContent(html_893891a9b248485ba8cb045dda13be35);
        

        marker_def373efa6894469b56e1a3690f1f38a.bindPopup(popup_baa1bf729087499e92ff913cc3aafc9b)
        ;

        
    
</script>