<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5d6cf589e61b470aaf2dd6429418376b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5d6cf589e61b470aaf2dd6429418376b" ></div>
        
</body>
<script>    
    
            var map_5d6cf589e61b470aaf2dd6429418376b = L.map(
                "map_5d6cf589e61b470aaf2dd6429418376b",
                {
                    center: [33.987496, -118.28689299999999],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                    tooltip: "Hover",
                }
            );

            

        
    
            var tile_layer_79e60afb2d3142f394b273ce94a80233 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5d6cf589e61b470aaf2dd6429418376b);
        
    
            var poly_line_e6968d14dd3b4222b0f16a514baa3d79 = L.polyline(
                [[34.09345, -118.29121], [34.04002, -118.29159], [34.04002, -118.28457], [34.03581, -118.27471], [34.02749, -118.27469], [34.01465, -118.28124], [33.93627, -118.28028], [33.92264, -118.2817], [33.91332, -118.28679], [33.89825, -118.28683], [33.89265, -118.28609], [33.89272, -118.28303], [33.88154, -118.28258]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 8}
            ).addTo(map_5d6cf589e61b470aaf2dd6429418376b);
        
    
            var marker_f53ab704ea304776931fa34d20a1354e = L.marker(
                [34.09345, -118.291208],
                {}
            ).addTo(map_5d6cf589e61b470aaf2dd6429418376b);
        
    
            var icon_a07e43e7835f47a5b6369e4d272fb608 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_f53ab704ea304776931fa34d20a1354e.setIcon(icon_a07e43e7835f47a5b6369e4d272fb608);
        
    
        var popup_b5b5d6f68b3646daba271c264cc53e57 = L.popup({"maxWidth": "100%"});

        
            var html_7e7f01e7b52444a584cc505cf1e65244 = $(`<div id="html_7e7f01e7b52444a584cc505cf1e65244" style="width: 100.0%; height: 100.0%;">Hollywood Hotel, 1160, North Vermont Avenue, East Hollywood, Los Angeles, California, 90029, United States</div>`)[0];
            popup_b5b5d6f68b3646daba271c264cc53e57.setContent(html_7e7f01e7b52444a584cc505cf1e65244);
        

        marker_f53ab704ea304776931fa34d20a1354e.bindPopup(popup_b5b5d6f68b3646daba271c264cc53e57)
        ;

        
    
    
            var marker_25a0508bdfe84a6daea7025fd67214ff = L.marker(
                [33.881542, -118.282578],
                {}
            ).addTo(map_5d6cf589e61b470aaf2dd6429418376b);
        
    
            var icon_23b0eac0739749cd8f4419b6a8ae324a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_25a0508bdfe84a6daea7025fd67214ff.setIcon(icon_23b0eac0739749cd8f4419b6a8ae324a);
        
    
        var popup_1d1e89079f884fde89f244315bc32be9 = L.popup({"maxWidth": "100%"});

        
            var html_0c46cec8bee7453b8b09f1ef6cb6bdea = $(`<div id="html_0c46cec8bee7453b8b09f1ef6cb6bdea" style="width: 100.0%; height: 100.0%;">South Figueroa Street, Harbor Gateway, Los Angeles, Los Angeles County, California, 90248, United States</div>`)[0];
            popup_1d1e89079f884fde89f244315bc32be9.setContent(html_0c46cec8bee7453b8b09f1ef6cb6bdea);
        

        marker_25a0508bdfe84a6daea7025fd67214ff.bindPopup(popup_1d1e89079f884fde89f244315bc32be9)
        ;

        
    
</script>