<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0655ea60e0814e4397e2b51b101ad967 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0655ea60e0814e4397e2b51b101ad967" ></div>
        
</body>
<script>    
    
            var map_0655ea60e0814e4397e2b51b101ad967 = L.map(
                "map_0655ea60e0814e4397e2b51b101ad967",
                {
                    center: [34.066931999999994, -118.2710085],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                    tooltip: "Hover",
                }
            );

            

        
    
            var tile_layer_0e70228071554069a527ebd0e1f636c4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0655ea60e0814e4397e2b51b101ad967);
        
    
            var poly_line_ab866809e09c4da1a42c37edffe8c539 = L.polyline(
                [[34.07915, -118.29171], [34.07634, -118.2917], [34.07623, -118.32645], [34.07571, -118.3285], [34.0762, -118.33472], [34.07612, -118.36145], [34.073, -118.36142], [34.07297, -118.35904], [34.07245, -118.35922], [34.07128, -118.35947], [34.07153, -118.36142], [34.07612, -118.36145], [34.0762, -118.33472], [34.07571, -118.3285], [34.07623, -118.32645], [34.07633, -118.28792], [34.07402, -118.28632], [34.07279, -118.28439], [34.06105, -118.25782], [34.06047, -118.25823], [34.05888, -118.25668], [34.05472, -118.2503]],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 8}
            ).addTo(map_0655ea60e0814e4397e2b51b101ad967);
        
    
            var marker_6aaa9f7fb1994fbe8a4b91912b73d1bd = L.marker(
                [34.079147, -118.291714],
                {}
            ).addTo(map_0655ea60e0814e4397e2b51b101ad967);
        
    
            var icon_b2742a674a484a81b530dc4de6441ace = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6aaa9f7fb1994fbe8a4b91912b73d1bd.setIcon(icon_b2742a674a484a81b530dc4de6441ace);
        
    
        var popup_ccb8ad14a52844d3b5781d228187a8d1 = L.popup({"maxWidth": "100%"});

        
            var html_64d8f82fb26f4b518deadb14f1e96962 = $(`<div id="html_64d8f82fb26f4b518deadb14f1e96962" style="width: 100.0%; height: 100.0%;">North Vermont Avenue, Bicycle District, East Hollywood, Los Angeles, California, 90029-3507, United States</div>`)[0];
            popup_ccb8ad14a52844d3b5781d228187a8d1.setContent(html_64d8f82fb26f4b518deadb14f1e96962);
        

        marker_6aaa9f7fb1994fbe8a4b91912b73d1bd.bindPopup(popup_ccb8ad14a52844d3b5781d228187a8d1)
        ;

        
    
    
            var marker_b1ac3fddfdaf4482bb2bd03b57b59f4b = L.marker(
                [34.054717, -118.250303],
                {}
            ).addTo(map_0655ea60e0814e4397e2b51b101ad967);
        
    
            var icon_fcc48742978f418789a61557dc0d363b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b1ac3fddfdaf4482bb2bd03b57b59f4b.setIcon(icon_fcc48742978f418789a61557dc0d363b);
        
    
        var popup_7929fd0caf314d1e98c35b498869330f = L.popup({"maxWidth": "100%"});

        
            var html_2c80476db09d4c54b61cd1e68d1c2e02 = $(`<div id="html_2c80476db09d4c54b61cd1e68d1c2e02" style="width: 100.0%; height: 100.0%;">The Broad Museum, 221, South Grand Avenue, Bunker Hill, Downtown, Los Angeles, California, 90012, United States</div>`)[0];
            popup_7929fd0caf314d1e98c35b498869330f.setContent(html_2c80476db09d4c54b61cd1e68d1c2e02);
        

        marker_b1ac3fddfdaf4482bb2bd03b57b59f4b.bindPopup(popup_7929fd0caf314d1e98c35b498869330f)
        ;

        
    
    
            var marker_31cbb41d88714999b2c53a9528c3f348 = L.marker(
                [34.072447, -118.35922],
                {}
            ).addTo(map_0655ea60e0814e4397e2b51b101ad967);
        
    
            var icon_3f84e54b215e4bbeb78c9a644b5b49a7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_31cbb41d88714999b2c53a9528c3f348.setIcon(icon_3f84e54b215e4bbeb78c9a644b5b49a7);
        
    
        var popup_88fc030666e5453783928ffc8dd8b2fc = L.popup({"maxWidth": "100%"});

        
            var html_7bfa8474f8454f68bebb74bac9c829dc = $(`<div id="html_7bfa8474f8454f68bebb74bac9c829dc" style="width: 100.0%; height: 100.0%;">American Girl Place, 189, The Grove Drive, The Grove, Fairfax, Los Angeles, California, 90036, United States</div>`)[0];
            popup_88fc030666e5453783928ffc8dd8b2fc.setContent(html_7bfa8474f8454f68bebb74bac9c829dc);
        

        marker_31cbb41d88714999b2c53a9528c3f348.bindPopup(popup_88fc030666e5453783928ffc8dd8b2fc)
        ;

        
    
</script>