<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_569eb9ccc6c4465a8c0e11f5dbcde97b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_569eb9ccc6c4465a8c0e11f5dbcde97b" ></div>
        
</body>
<script>    
    
            var map_569eb9ccc6c4465a8c0e11f5dbcde97b = L.map(
                "map_569eb9ccc6c4465a8c0e11f5dbcde97b",
                {
                    center: [34.1119985, -118.29263900000001],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                    tooltip: "Hover",
                }
            );

            

        
    
            var tile_layer_5b48865d7ab44c4392988e0c5d529319 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_569eb9ccc6c4465a8c0e11f5dbcde97b);
        
    
            var poly_line_e87d6a1c0c294700a3a9a8b346584f3f = L.polyline(
                [[34.07915, -118.29171], [34.11109, -118.29182], [34.11351, -118.27781], [34.11598, -118.27265], [34.11702, -118.27169], [34.11888, -118.27326], [34.12167, -118.27412], [34.12985, -118.27485], [34.13149, -118.27709], [34.13251, -118.2807], [34.1354, -118.28206], [34.136, -118.28727], [34.14086, -118.28817], [34.14199, -118.29024], [34.14352, -118.28962], [34.14485, -118.29356]],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 8}
            ).addTo(map_569eb9ccc6c4465a8c0e11f5dbcde97b);
        
    
            var marker_46e23ba5046d4fe2a10d016d86c0257c = L.marker(
                [34.079147, -118.291714],
                {}
            ).addTo(map_569eb9ccc6c4465a8c0e11f5dbcde97b);
        
    
            var icon_f841a8043cda4634875cbfe2dd09e615 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_46e23ba5046d4fe2a10d016d86c0257c.setIcon(icon_f841a8043cda4634875cbfe2dd09e615);
        
    
        var popup_e13eec241150469dac4a6ffa31084a69 = L.popup({"maxWidth": "100%"});

        
            var html_42aaed8680ff4b7591526be293cdb3d6 = $(`<div id="html_42aaed8680ff4b7591526be293cdb3d6" style="width: 100.0%; height: 100.0%;">North Vermont Avenue, Bicycle District, East Hollywood, Los Angeles, California, 90029-3507, United States</div>`)[0];
            popup_e13eec241150469dac4a6ffa31084a69.setContent(html_42aaed8680ff4b7591526be293cdb3d6);
        

        marker_46e23ba5046d4fe2a10d016d86c0257c.bindPopup(popup_e13eec241150469dac4a6ffa31084a69)
        ;

        
    
    
            var marker_33afe5021624467089470cabd24be1f4 = L.marker(
                [34.14485, -118.293564],
                {}
            ).addTo(map_569eb9ccc6c4465a8c0e11f5dbcde97b);
        
    
            var icon_339b8a1161e9482e979b76035f241fa2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_33afe5021624467089470cabd24be1f4.setIcon(icon_339b8a1161e9482e979b76035f241fa2);
        
    
        var popup_d4bac12f22ee48a687bac24092e7dffc = L.popup({"maxWidth": "100%"});

        
            var html_41b1336523684dfb91b9814904c35767 = $(`<div id="html_41b1336523684dfb91b9814904c35767" style="width: 100.0%; height: 100.0%;">Griffith Park Boys Camp, 4730, Crystal Springs Drive, Griffith Park, Los Angeles, California, 90027, United States</div>`)[0];
            popup_d4bac12f22ee48a687bac24092e7dffc.setContent(html_41b1336523684dfb91b9814904c35767);
        

        marker_33afe5021624467089470cabd24be1f4.bindPopup(popup_d4bac12f22ee48a687bac24092e7dffc)
        ;

        
    
</script>