<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ea96fc30ee424ec6a7249502ba79374e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ea96fc30ee424ec6a7249502ba79374e" ></div>
        
</body>
<script>    
    
            var map_ea96fc30ee424ec6a7249502ba79374e = L.map(
                "map_ea96fc30ee424ec6a7249502ba79374e",
                {
                    center: [34.075796999999994, -118.325467],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                    tooltip: "Hover",
                }
            );

            

        
    
            var tile_layer_b5635394b5d54f7680102490cb3d0d05 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ea96fc30ee424ec6a7249502ba79374e);
        
    
            var poly_line_7446f96d9644481b83e04e1e34a073fd = L.polyline(
                [[34.07915, -118.29171], [34.07634, -118.2917], [34.07623, -118.32645], [34.07571, -118.3285], [34.0761, -118.33109], [34.0762, -118.33472], [34.07612, -118.36145], [34.07153, -118.36142], [34.07128, -118.35947], [34.07245, -118.35922]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 8}
            ).addTo(map_ea96fc30ee424ec6a7249502ba79374e);
        
    
            var marker_1fac31303c1248318c2acf79983dfaac = L.marker(
                [34.079147, -118.291714],
                {}
            ).addTo(map_ea96fc30ee424ec6a7249502ba79374e);
        
    
            var icon_d9157f74b964445d9dbe3c6a3241d164 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1fac31303c1248318c2acf79983dfaac.setIcon(icon_d9157f74b964445d9dbe3c6a3241d164);
        
    
        var popup_355e1e158b0940cba8461fce7e9aaedc = L.popup({"maxWidth": "100%"});

        
            var html_6aad8175ddd44fe989789e5acb0cc9b4 = $(`<div id="html_6aad8175ddd44fe989789e5acb0cc9b4" style="width: 100.0%; height: 100.0%;">North Vermont Avenue, Bicycle District, East Hollywood, Los Angeles, California, 90029-3507, United States</div>`)[0];
            popup_355e1e158b0940cba8461fce7e9aaedc.setContent(html_6aad8175ddd44fe989789e5acb0cc9b4);
        

        marker_1fac31303c1248318c2acf79983dfaac.bindPopup(popup_355e1e158b0940cba8461fce7e9aaedc)
        ;

        
    
    
            var marker_4df93510ca7f4006b60e95ad187d929b = L.marker(
                [34.072447, -118.35922],
                {}
            ).addTo(map_ea96fc30ee424ec6a7249502ba79374e);
        
    
            var icon_a89d1260d3d546809519bbadbe1d68a1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4df93510ca7f4006b60e95ad187d929b.setIcon(icon_a89d1260d3d546809519bbadbe1d68a1);
        
    
        var popup_7b59fc539e8b494187635c0fa8f4bf5d = L.popup({"maxWidth": "100%"});

        
            var html_b6e059ef9b714c89a04abbc4b8315b81 = $(`<div id="html_b6e059ef9b714c89a04abbc4b8315b81" style="width: 100.0%; height: 100.0%;">American Girl Place, 189, The Grove Drive, The Grove, Fairfax, Los Angeles, California, 90036, United States</div>`)[0];
            popup_7b59fc539e8b494187635c0fa8f4bf5d.setContent(html_b6e059ef9b714c89a04abbc4b8315b81);
        

        marker_4df93510ca7f4006b60e95ad187d929b.bindPopup(popup_7b59fc539e8b494187635c0fa8f4bf5d)
        ;

        
    
</script>