<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ba6069bae8ca4761b9ced499b02aeb52 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ba6069bae8ca4761b9ced499b02aeb52" ></div>
        
</body>
<script>    
    
            var map_ba6069bae8ca4761b9ced499b02aeb52 = L.map(
                "map_ba6069bae8ca4761b9ced499b02aeb52",
                {
                    center: [34.11915, -118.292386],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                    tooltip: "Hover",
                }
            );

            

        
    
            var tile_layer_58ad0e1843174c09bcb75430f6485351 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ba6069bae8ca4761b9ced499b02aeb52);
        
    
            var poly_line_d82893b63e8a46a983b3116408f1d604 = L.polyline(
                [[34.09345, -118.29121], [34.09345, -118.29176], [34.11109, -118.29182], [34.11351, -118.27781], [34.11598, -118.27265], [34.11702, -118.27169], [34.11888, -118.27326], [34.12167, -118.27412], [34.12985, -118.27485], [34.13149, -118.27709], [34.13251, -118.2807], [34.1354, -118.28206], [34.136, -118.28727], [34.14086, -118.28817], [34.14199, -118.29024], [34.14352, -118.28962], [34.14485, -118.29356]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.6, "smoothFactor": 1.0, "stroke": true, "weight": 8}
            ).addTo(map_ba6069bae8ca4761b9ced499b02aeb52);
        
    
            var marker_c4f65e32fb45442ba616e2503ad49f72 = L.marker(
                [34.09345, -118.291208],
                {}
            ).addTo(map_ba6069bae8ca4761b9ced499b02aeb52);
        
    
            var icon_a9e5b811a9c7489d95c151d6aa2989b1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "play", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c4f65e32fb45442ba616e2503ad49f72.setIcon(icon_a9e5b811a9c7489d95c151d6aa2989b1);
        
    
        var popup_6e148bc57e5643aab5e4e569478f3658 = L.popup({"maxWidth": "100%"});

        
            var html_6cf4c10395644a0999b0c7f9a12ad6e3 = $(`<div id="html_6cf4c10395644a0999b0c7f9a12ad6e3" style="width: 100.0%; height: 100.0%;">Hollywood Hotel, 1160, North Vermont Avenue, East Hollywood, Los Angeles, California, 90029, United States</div>`)[0];
            popup_6e148bc57e5643aab5e4e569478f3658.setContent(html_6cf4c10395644a0999b0c7f9a12ad6e3);
        

        marker_c4f65e32fb45442ba616e2503ad49f72.bindPopup(popup_6e148bc57e5643aab5e4e569478f3658)
        ;

        
    
    
            var marker_ec7d75ac8a0b488480b30c66306c7f75 = L.marker(
                [34.14485, -118.293564],
                {}
            ).addTo(map_ba6069bae8ca4761b9ced499b02aeb52);
        
    
            var icon_973a0c110f5d4d28b1cf0cf1deb83cbb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "stop", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ec7d75ac8a0b488480b30c66306c7f75.setIcon(icon_973a0c110f5d4d28b1cf0cf1deb83cbb);
        
    
        var popup_2df34ed8ed584a5d9f5bd2cd4f276779 = L.popup({"maxWidth": "100%"});

        
            var html_26cd20ecc27849e395401d4ea2ffdbe4 = $(`<div id="html_26cd20ecc27849e395401d4ea2ffdbe4" style="width: 100.0%; height: 100.0%;">Griffith Park Boys Camp, 4730, Crystal Springs Drive, Griffith Park, Los Angeles, California, 90027, United States</div>`)[0];
            popup_2df34ed8ed584a5d9f5bd2cd4f276779.setContent(html_26cd20ecc27849e395401d4ea2ffdbe4);
        

        marker_ec7d75ac8a0b488480b30c66306c7f75.bindPopup(popup_2df34ed8ed584a5d9f5bd2cd4f276779)
        ;

        
    
</script>