{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Don't miss out the yummy food!{% endblock %}</h2>
{% endblock %}

{% block content %}
  
  <form method="post">
    <h3 for="name">Which style of the restaurants you want to go? <br> Or what's the minimum rating for the restaurants you want want to go?</h3>
    <div class="wrap">
      <div class="search">    
        <input name="name" placeholder="for example: Japanese" id="site">
        <input type="submit" value = "search" class = "searchButton">
        </div></div>
  </form>
  <h3>Here is a list of the <b>recommended restaurants</b> on TripAdvisor.</h3>
  {% if name %}
  <p>After filtering based on your keyword...</p>
  <ul>
    <li><a class="filter" href="http://127.0.0.1:5000/restaurant/{{name}}/">Click here to see all the possible restaurants</a></li>
  </ul>
  <ul>
    <li><a class="newkeyword" href="http://127.0.0.1:5000/restaurant/">Try a new keyword</a></li>
  </ul>
  <table class="table">
    <!-- the tableheader  -->
    <tr class="restauranttable__header">
      {% for header in headings_update %}
      <th class="restauranttable__cell">
        {{header}}
      </th>
      {% endfor %}
    </tr>
    {% for row in data_update %}
    <!-- the table content -->
    <tr class="restauranttable__row">
      {% for cell in row %}
      <!-- the 5th column is site link so make it hyperlink -->
        {% if loop.index == 5 %}
          <td class="restauranttable__cell"><a href={{cell}} target="_blank">{{cell}}</a></td>
        {% else %}
          <td class="restauranttable__cell">{{cell}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <table class="table">
    <tr class="restauranttable__header">
      {% for header in headings %}
      <th class="restauranttable__cell">
        {{header}}
      </th>
      {% endfor %}
    </tr>
    {% for row in data %}
    <tr class="restauranttable__row">
      {% for cell in row %}
      <!-- the 5th column is site link so make it hyperlink -->
        {% if loop.index == 5 %}
          <td class="restauranttable__cell"><a href={{cell}} target="_blank">{{cell}}</a></td>
        {% else %}
          <td class="restauranttable__cell">{{cell}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
{% endblock %}

