{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}------Route Generator------{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="site">What are the tourist sites you want to go?</label>
      <br>
      <input name="site" class="split">
      <br>
      <label for="day">How many days do you plan to stay?</label>
      <br>
      <input name="day" class="split">
      <br>
      <label for="hotel">Which hotel do you plan to stay?</label>
      <br>
      <input name="hotel" class="split">
      <br>
      <label for="transportation">What mode of transportation would you like to use? (Please specify car, bike, or foot.)</label>
      <br>
      <input name="transportation" class="split">
      <input type="submit" value="Search for an optimized route">
  </form>
  {% if site %}
  <ul>
    <li><a class="filter" href="http://127.0.0.1:5000/route/{{site}}/{{day}}/{{hotel}}/{{transportation}}/">Click here to see the optimized route.</a></li>
  </ul>
  {% for map in maps %}
  {{ map }}
  {% endfor %}

  {% else %}
  <p1>Don't know which tourist site you want to go to? That's okay! Please take a look at our main page! Hope there are at least one tourist sites that you are interested in~</p1>
  {% endif %}

{% endblock %}