{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}------Route Generator------{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="site">What are the places(tourist sites/restaurants/hotels) you want to go? (Please input the names of the tourist sites separated by a period.)</label>
      <input name="site" class="split" id="site">
      <br>
      <label for="days">How many days do you plan to stay?</label>
      <input name="days" id="days">
      <br>
      <label for="hotel">Which hotel do you plan to stay</label>
      <input name="hotel" id="hotel">
      <br>
      <input type="submit" value="Search for an optimized route">
  </form>
  {% if name %}
  <p1>Hello! This is the optimized route designed for you.</p1>
  <ul>
    <li><a class="filter" href="http://127.0.0.1:5000/route/{{name}}/">Click here to see the optimized route.</a></li>
  </ul>
  {{ location }}
  {% else %}
  <p1>Don't know which tourist site you want to go to? That's okay! Please take a look at our main page! Hope there's at least one tourist site that you are interested in~</p1>
  {% endif %}
{% endblock %}