{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Start your adventure here!{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
    <h3 for="name">What kind of the tourist sites you want to go? (Please capitalize the first letter of the keyword.) </h3>
    <div class="wrap">
      <div class="search">
        <input name="name" placeholder = "for example: Museum" id="site">
        <input type="submit" value="search" class = "searchButton">
      </div>
    </div>
  </form>
  
  <h3>Here is a list of the <b>recommended tourist sites</b> on TripAdvisor.</h3>
  {% if name %}
  <p>After filtering based on your keyword...</p>
  <ul>
    <li><a class="filter" href="http://127.0.0.1:5000/touristsite/{{name}}/">Click here to see all the possible tourist sites</a></li>
  </ul>
  <ul>
    <li><a class="newkeyword" href="http://127.0.0.1:5000/touristsite/">Try a new keyword</a></li>
  </ul>
  <table class="table">
    <tr class="touristsitetable__header">
      {% for header in headings_update %}
      <th class="touristsitetable__cell">
        {{header}}
      </th>
      {% endfor %}
    </tr>
    {% for row in data_update %}
    <tr class="touristsitetable__row">
      {% for cell in row %}
      <td class="touristsitetable__cell">
        {{cell}}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <table class="table">
    <tr class="touristsitetable__header">
      {% for header in headings %}
      <th class="touristsitetable__cell">
        {{header}}
      </th>
      {% endfor %}
    </tr>
    {% for row in data %}
    <tr class="touristsitetable__row">
      {% for cell in row %}
      <td class="touristsitetable__cell">
        {{cell}}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
{% endblock %}