{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}------Recommended Tourist Sites------{% endblock %}</h2>
{% endblock %}

{% block content %}
  <p>Here is a list of the <b>recommended tourist sites</b> on TripAdvisor.</p>
  <form method="post">
    <label for="name">What kind of the tourist sites you want to go? </label>
    <input name="name" id="site">
    <input type="submit" value="try museum">
  <table class="table">
    <tr class="touristsitetable__header">
      {% for header in headings %}
      <th class="touristsitetable__cell">
        {{header}}
      </th>
      {% endfor %}
    </tr>
    {% for row in data %}
    <tr class="touristsitetable__row">
      {% for cell in row %}
      <td class="touristsitetable__cell">
        {{cell}}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}